@model Treinreizen.Domain.Entities.Hotels

@if (Model != null)
{
    <div class="col-md-4">
        <div class="tile">

            <div class="foto">
                @*foto's instellen volgens hotelID*@
                @{ 
                    var file = "images/hotels/" + Model.HotelId + ".jpg" ;
                }
                <img class="foto" src="@file" />
            </div>
            <div class="title">

                @Model.Naam

            </div>
            <div class="beschrijving">
                @Model.Beschrijving
            </div>
            <div class="website">
                website:  @Model.Site
            </div>
            <div class="knop">
                <a class="button" asp-action="select" asp-route-id="@Model.HotelId">Boeken</a>

            </div>


        </div>
    </div>
}
