@model Treinreizen.Domain.Entities.Hotels

@if (Model != null)
{
    <div class="col-md-4">
        <div class="tile">

                <div class="title">
                    
                    @Model.Naam

                </div>
                <div class="foto">
                    @Model.Foto
                </div>
                <div class="beschrijving">
                    @Model.Beschrijving
                </div>
                <div class="website">
                    website:  @Model.Site
                </div>
                <div class="form-group btn btn-default">
                    <a  class="button" asp-action="select" asp-route-id="@Model.HotelId">Boeken</a>

                </div>
            

        </div>
    </div>
}
