@model IEnumerable<Treinreizen.Domain.Entities.Hotels>
@{
    ViewData["Title"] = "Hotels";
}

@section Header
    {
    <h1>Hotels in de buurt</h1>
}
<div class="row">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_Hotel", item)
    }
</div>
<a asp-controller="Trein"
   asp-action="Home">

    Ga terug
</a>


@*@{
        ViewData["Title"] = "Hotels";
    }

    <h2>Hotels</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Site)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Site)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.Foto)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stad.StadId)
                    </td>
                    <td>
                        <a asp-action="select" asp-route-id="@item.HotelId">Boeken</a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <a asp-controller="Trein"
       asp-action="Home">

        Ga terug
    </a>*@