@model Treinreizen.ViewModel.PassagierslijstVM

@{
    ViewData["Title"] = "Passagiers";

    var lijst = Model.Passagiers;
}

<h2>betrokken passagiers</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Passagiers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{var i = 1; }
            @foreach (var item in Model.Passagiers)
            {
                <p>Passagier @i :</p>
                <div class="form-group">
                    <label asp-for="@item.Voornaam" class="control-label"></label>
                    <input asp-for="@item.Voornaam" class="form-control" />
                    <span asp-validation-for="@item.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Achternaam" class="control-label"></label>
                    <input asp-for="@item.Achternaam" class="form-control" />
                    <span asp-validation-for="@item.Achternaam" class="text-danger"></span>
                </div>

                i++;
            }
            <div class="form-group">
                <input type="submit" value="boek" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
