@model IEnumerable<Treinreizen.Domain.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AantalTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boekingsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AantalTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klasse.Klassenaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boekingsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Naam)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Annuleer" asp-route-id="@item.OrderId">annuleer boeking</a>
            </td>
        </tr>
}
    </tbody>
</table>
