@model IEnumerable<Treinreizen.Domain.Entities.TreinRoutes>

@{
    ViewData["Title"] = "Route";
}

<h2>Route</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReisMogelijkhedenId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vertrekdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreinNummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReisMogelijkhedenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vertrekdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreinNummer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
